{% extends 'base.html' %}

{% block title %}
    <title>Delete profile</title>
{% endblock %}

{% block content %}
        <main>
            <header class="site-header site-contact-header">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-10 col-12 mx-auto">
                            <h1 style="color: #f13d4e">DELETE PROFILE ? </h1>

                           <form method="post" action="{% url 'profile delete' pk=request.user.pk %}">
                               {% csrf_token %}
                               <button type="button" class="btn btn-danger">! YES !</button>
                               <div style="margin-top: 15px">
                            <a class="btn btn-danger" href="javascript:history.back()">Go Back</a>
                            </div>

                           </form>

                        </div>

                    </div>
                </div>

                <div class="overlay"></div>
            </header>

        </main>

{% endblock %}

