{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 page</title>
    <link href="{% static 'css/error.css' %}" rel="stylesheet">
  </head>
  <body>
    <body>
        <div class="container">
            <h1>404</h1>
            <p>Oops! The page you're looking for doesn't exist.</p>
            <a href="/" class="button">Go Back Home</a>
        </div>
    </body>
  </body>
</html>
