{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Crispy Kitchen</title>
{% endblock %}

{% block content %}

    <main>

        <section class="hero">
            <div class="container">

                <div class="row">

                    <div class="col-lg-5 col-12 m-auto">
                        <div class="heroText">

                            <h1 class="text-white mb-lg-5 mb-3">Тhe Best Offers</h1>

                            <div class="c-reviews my-3 d-flex flex-wrap align-items-center">
                                <div class="d-flex flex-wrap align-items-center">
                                    <h4 class="text-white mb-0 me-3">4.4/5</h4>

                                    <div class="reviews-stars">
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star reviews-icon"></i>
                                    </div>
                                </div>

                                <p class="text-white w-100">From <strong>1,206+</strong> Customer Reviews</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 col-12">
                        <div id="carouselExampleCaptions" class="carousel carousel-fade hero-carousel slide"
                             data-bs-ride="carousel">

                            <div class="carousel-inner">

                                {% for food in best_foods %}

                                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                    <div class="carousel-image-wrap">
                                        <img src="{{ food.photo.url }}"
                                             class="img-fluid carousel-image" alt="">
                                    </div>

                                    <div class="carousel-caption">
                                        <div class="d-flex align-items-center">
                                            <h4 class="hero-text">{{ food.name_of_the_food }}</h4>

                                            <span class="price-tag ms-4"><small>$</small>{{ food.price|floatformat:2 }}</span>
                                        </div>

                                        <div class="d-flex flex-wrap align-items-center">
                                            <h5 class="reviews-text mb-0 me-3">{{ food.likes_count }}/likes</h5>

                                            <div class="reviews-stars">
                                                <i class="bi-star-fill reviews-icon"></i>
                                                <i class="bi-star-fill reviews-icon"></i>
                                                <i class="bi-star-fill reviews-icon"></i>
                                                <i class="bi-star-fill reviews-icon"></i>
                                                <i class="bi-star reviews-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}
                            </div>


                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>

                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>


            <div class="video-wrap">
                <video autoplay="" loop="" muted="" class="custom-video" poster="">
                    <source src="{% static 'video/production_ID_3769033.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

            <div class="overlay"></div>
        </section>

        <section class="menu section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <h2 class="text-center mb-lg-5 mb-4">Special Menus</h2>
                    </div>

                    {% for food in foods %}
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="menu-thumb">
                                <div class="menu-image-wrap">
                                    <a href="{% url 'special menu detail' pk=food.pk %}"><img src="{{ food.photo.url }}"
                                         class="img-fluid menu-image" alt="img"></a>

                                    <span class="menu-tag bg-warning">{{ food.type_of_meal }}</span>
                                </div>
                                <div class="menu-info d-flex flex-wrap align-items-center">
                                    <a href="{% url 'special menu detail' pk=food.pk %}"><h4 class="mb-0">{{ food.name_of_the_food }}</h4></a>
                                    <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>{{ food.price|floatformat:2 }}</span>

                                    <div class="d-flex flex-wrap align-items-center w-100 mt-2">
                                        <h6 class="reviews-text mb-0 me-3">{{ food.likes_count }} likes</h6>

                                        <span class="heart">
                                    {% if request.user.is_authenticated %}
									<a href="{% url 'like food' food_id=food.pk %}">
                                    {% else %}
                                    <a href="{% url 'sign in' %}">
                                    {% endif %}
                                            {% if food.is_liked_by_user %}
                                                <svg style="color: red"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     width="24"
                                                     height="24"
                                                     fill="currentColor"
                                                     class="bi bi-heart-fill"
                                                     viewBox="0 0 16 16">

                                            <path fill-rule="evenodd"
                                                  d="M8 1.314C12.438-3.248 23.534 4.735
                                                  8 15-7.534 4.736 3.562-3.248 8 1.314z"
                                                  fill="red">

                                            </path>
                                        </svg>

                                            {% else %}
                                                <svg aria-label="Like"
                                                     color="#262626"
                                                     fill="#262626"
                                                     height="24"
                                                     role="img"
                                                     viewBox="0 0 48 48"
                                                     width="24">

                                        <path d="M34.6 6.1c5.7 0 10.4 5.2 10.4
                                                    11.5 0 6.8-5.9 11-11.5 16S25 41.3 24
                                                    41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3
                                                    11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3
                                                    1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9
                                                    1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9
                                                    1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1
                                                    0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3
                                                    1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3
                                                    1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2
                                                    7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6
                                                    48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
                                        </path>
                                    </svg>
                                            {% endif %}
								</a>
								</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="BgImage"></section>

        <section class="news section-padding">
            <div class="container">
                <div class="row">

                    <h2 class="text-center mb-lg-5 mb-4">News &amp; Events</h2>
                    {% for post in posts %}
                        {% if post.photo_size == 'big photo' %}
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="news-thumb mb-4">
                                    <a href="{% url 'news detail' pk=post.pk %}">
                                        <img src="{{ post.photo.url }}"
                                             class="img-fluid news-image" alt="">
                                    </a>

                                    <div class="news-text-info news-text-info-large">
                                        <span class="category-tag bg-danger">{{ post.topic }}</span>

                                        <h5 class="news-title mt-2">
                                            <a href="{% url 'news detail' pk=post.pk %}" class="news-title-link">{{ post.title }}</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% for post in posts %}
                        {% if post.photo_size == 'small photo' %}
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="news-thumb mb-lg-0 mb-lg-4 mb-0">
                                    <a href="{% url 'news detail' pk=post.pk %}">
                                        <img src="{{ post.photo.url }}"
                                             class="img-fluid news-image" alt="">
                                    </a>

                                    <div class="news-text-info">
                                        <span class="category-tag me-3 bg-info">{{ post.topic }}</span>

                                        <strong>{{ post.date_of_publication }}</strong>

                                        <h5 class="news-title mt-2">
                                            <a href="{% url 'news detail' pk=post.pk %}"
                                               class="news-title-link">{{ post.title }}</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>

    </main>

{% endblock %}

