{% extends 'base.html' %}

{% block title %}
    <title>Menu Detail</title>
{% endblock %}

{% block content %}
    <main>
        <h5 class="menu-heading">Special Menu</h5>
        <section class="contact section-padding">
            <div class="container menu-detail">
                <div class="col-lg-4 col-md-6 col-12 menu-detail-img-wraper">
                    <h2>{{ object.name_of_the_food }}</h2>
                    <img class="menu-detail-img" src="{{ object.photo.url }}" alt="img">
                    <span class="price-tag bg-white shadow-lg ms-4 detail-menu-price">
                        <small>$ {{ object.price|floatformat:2 }}</small> 
                    </span>
                </div>
                <div class="vertical-line"></div>
                <div class="horizontal-line"></div>
                <div class="menu-detail-desc-wraper">
                    <p class="menu-detail-desc">{{ object.description }}</p>
                </div>
            </div>
        </section>

    </main>

{% endblock %}