/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Page Background */
body {
    height: 100vh;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */
.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Error Code */
h1 {
    font-size: 6rem;
    color: #ff5e5e;
}

/* Message */
p {
    font-size: 1.5rem;
    margin: 20px 0;
    color: #555;
}

/* Back Button */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5e5e;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ff4141;
}
